<app-navbar></app-navbar>

<div class="title-wrapper">
    <p class="title">V-MODEL.</p>
</div>
<div class="content">
    <p>
       The V-model is a classic sequential model. The model, as it is already taken from the name, is set up in a <b>V</b> and the phases are processed step by step similar to the waterfall model. The model is used particularly for projects, which provide for a development of a software. The difference between the approach and the waterfall model is that testing is not carried out in just one phase, but is distributed over the entire life cycle of the software during development. Thereby the left phases of the model, which rather stand for the conceptual design, are directly related to the right phases, which are responsible for the testing of the entire system. The model carries out a test phase in parallel to each phase that is on the left conceptualization phase.
    </p>
</div>
<div class="procon">
    <div class="pro">
        <div class="subsection">
            <p class="subtitle">Pros:</p>
        </div>
        <ul>
            <li>Early integration of tests (or the test team) saves a lot of time</li>
            <li>The integration and use of the model is relatively simple</li>
            <li>Problems are detected early and can therefore be corrected early, resulting in cost savings</li>
        </ul>
    </div>
    <div class="con">
        <div class="subsection">
            <p class="subtitle">Cons:</p>
        </div>
        <ul>
            <li>Changes during processing lead to costly revision of all documentation</li>
            <li>No prototypes of the software are created, but in the end only the overall product</li>
            <li>Changes in customer requirements can hardly be taken into account</li>
        </ul>
    </div>
</div>