<div class="navbar">
    <div class="sections">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/scrum" routerLinkActive="active">Scrum</a>
        <a routerLink="/kanban" routerLinkActive="active">Kanban</a>
        <a routerLink="/waterfall" routerLinkActive="active">Waterfall</a>
        <a routerLink="/v-model" routerLinkActive="active">V-Model</a>
        <a routerLink="/spiral-model" routerLinkActive="active">Spiral Model</a>
        <i class="menu pi pi-bars" (click)="openSidebar()"></i>
    </div>
    <p-divider></p-divider>
</div>
<p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000">
    <div class="sidebar">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/scrum" routerLinkActive="active">Scrum</a>
        <a routerLink="/kanban" routerLinkActive="active">Kanban</a>
        <a routerLink="/waterfall" routerLinkActive="active">Waterfall</a>
        <a routerLink="/v-model" routerLinkActive="active">V-Model</a>
        <a routerLink="/spiral-model" routerLinkActive="active">Spiral Model</a>
    </div>
</p-sidebar>