.question-block {
    border-color: rgb(231, 231, 231);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 32%;
    height: 600px;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    overflow: hidden;
    margin-bottom: 30px;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

:host >>> .p-checkbox-label{
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 190, 199);
}

.question-block p, label {
    font-family: 'Poppins', sans-serif;
}

.p-checkbox-label {
  font-family: 'Poppins', sans-serif;
}

.title {
    font-weight: 600;
    font-size: 20px;
    color: rgb(0, 190, 199);
    text-align: center;
}

.numbers {
    margin-top: 100px;
    margin-bottom: 200px;
}

.controls {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* David */

.podium {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
  }
  
  .place {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 0;
    padding-bottom: 20%;
    background-color: #eee;
    border: 2px solid #aaa;
    position: relative;
  }
  
  .place.first {
    padding-bottom: 30%;
  }
  
  .place.second {
    padding-bottom: 25%;
  }
  
  .place.third {
    padding-bottom: 20%;
  }
  
  .place.fourth {
    padding-bottom: 15%;
  }
  
  .place.fifth {
    padding-bottom: 10%;
  }
  
  .position {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 10%;
  }
  
  .name {
    font-size: 18px;
    position: absolute;
    bottom: 10%;
  }