<div *ngIf="!this.showResult">
    <div class="card">
        <p-progressBar [value]="getPercentageOfStage()"></p-progressBar>
    </div>
    <div class="question-block">
        <div class="header">
            <p class="title">
                {{getCurrentQuestion().question}}
            </p>
        </div>
        <div class="content">
            <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
            <div *ngFor="let answer of this.getCurrentQuestion().answers" class="answers">
                <p-checkbox label="{{answer.answer}}" value="{{answer.answer}}" [(ngModel)]="selectedAnswers"
                    (onChange)="changeBoolState(answer)"></p-checkbox>
                <div class="answer-label">
                    <label>{{answer.info}}</label>
                </div>
            </div>
        </div>
        <div class="controls">
            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" class="right"
                (click)="nextQuestion()"></p-button>
        </div>
    </div>
</div>
<div *ngIf="this.showResult" class="custom-container">
    <p-panel [toggleable]="true" [collapsed]="true">
        <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">1st
            <b>{{projectMethods[0].project_name}}</b> - {{projectMethods[0].value}}</span>
        </ng-template>
        <p>
            {{projectMethods[0].rec}}
        </p>
    </p-panel>
    <p-panel [toggleable]="true" [collapsed]="true">
        <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">2st
                <b>{{projectMethods[1].project_name}}</b> - {{projectMethods[1].value}}</span></ng-template>
                <p>
                    {{projectMethods[1].rec}}
                </p>
    </p-panel>
    <p-panel [toggleable]="true" [collapsed]="true">
        <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">3st
                <b>{{projectMethods[2].project_name}}</b> - {{projectMethods[2].value}}</span></ng-template>
                <p>
                    {{projectMethods[2].rec}}
                </p>
    </p-panel>
    <p-panel [toggleable]="true" [collapsed]="true">
        <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">4st
                <b>{{projectMethods[3].project_name}}</b> - {{projectMethods[3].value}}</span></ng-template>
                <p>
                    {{projectMethods[3].rec}}
                </p>
    </p-panel>
    <p-panel [toggleable]="true" [collapsed]="true">
        <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">5st
                <b>{{projectMethods[4].project_name}}</b> - {{projectMethods[4].value}}</span></ng-template>
                <p>
                    {{projectMethods[4].rec}}
                </p>
    </p-panel>
    <p-card [style]="{ width: '900px'}" style="text-align: center;" >
        <h1>
            Questions
        </h1>
        <div *ngFor="let questionBlock of questions">
            <div *ngIf="questionBlock.id < questionCounter+2">
                <div *ngFor="let answer of questionBlock.answers">
                    <div *ngIf="answer.checked">
                        <p class="title">{{questionBlock.question}}</p>
                        <p class="answer.label"><p-tag severity="info" value="{{answer.answer}}"></p-tag></p>
                        <div *ngFor="let test of getHighestProjectMethodOnGivenAnswer(answer, questionBlock); let i = index" style="display: inline">
                            <p-tag severity="{{test.color}}" value="{{test.method}}" class="projectMethod-tags"></p-tag>
                        </div>
                        <div class="suggestion-block"></div>
                        <p-divider></p-divider>
                    </div>
                </div>
            </div> 
        </div>
    </p-card>
</div>
