.question-block {
    border-color: rgb(231, 231, 231);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 32%;
    height: 650px;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    overflow: hidden;
    margin-bottom: 30px;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

/*Change PrimeNG Style for Label Font*/
:host >>> .p-checkbox-label{
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 190, 199);
}

.question-block p, label {
    font-family: 'Poppins', sans-serif;
}

/*Title Div in Question Block*/
.question-block .header {
  width: 100%;
  height: 100px;
}

/*Content Div in Question Block*/
.question-block .content {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Optional Design for centered answers - comment out for left aligned answers*/
.question-block .content .answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.question-block .content .answers {
  margin-bottom: 30px;
  width: 100%;
}



.question-block .content .answers .answer-label {
  margin-top: 10px;

}

.title {
    font-weight: 600;
    font-size: 20px;
    color: rgb(0, 190, 199);
    text-align: center;
}

.controls {
    margin-left: auto;
    margin-right: auto;
}

/* David */

.podium {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
  }
  
  .place {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 0;
    padding-bottom: 20%;
    background-color: #eee;
    border: 2px solid #aaa;
    position: relative;
  }
  
  .place.first {
    padding-bottom: 30%;
  }
  
  .place.second {
    padding-bottom: 25%;
  }
  
  .place.third {
    padding-bottom: 20%;
  }
  
  .place.fourth {
    padding-bottom: 15%;
  }
  
  .place.fifth {
    padding-bottom: 10%;
  }
  
  .position {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 10%;
  }
  
  .name {
    font-size: 18px;
    position: absolute;
    bottom: 10%;
  }