<app-navbar></app-navbar>

<div class="title-wrapper">
    <p class="title">SPIRAL MODEL.</p>
</div>
<div class="content">
    <p>
        The spiral model is a traditional procedure model. Unlike the waterfall model and the V model, the spiral model is an iterative process model. Here, different phases are passed through cyclically with the goal that over time the result becomes better and better until it meets the requirements. The major difference between this and the other two sequential traditional models is that during processing, the model creates a prototype with each iteration, giving the opportunity to more easily implement changes or new features. For each phase the same iteration steps are applied. The key feature of the method is the focus on a risk analysis in each iteration. This allows Risks to be identified more quickly and suitable countermeasures to be developed and integrated.
    </p>
</div>
<div class="procon">
    <div class="pro">
        <div class="subsection">
            <p class="subtitle">Pros:</p>
        </div>
        <ul>
            <li>Through constant risk analysis, risks are identified at an early stage and can be dealt with accordingly</li>
            <li>Strict planning and documentation ensures high quality of the software</li>
            <li>Through the constant feedback and adjustments, more specific complex projects can be implemented</li>
            <li>Prototypes of the software are continuously created and improved</li>
        </ul>
    </div>
    <div class="con">
        <div class="subsection">
            <p class="subtitle">Cons:</p>
        </div>
        <ul>
            <li>For the risk evaluation and the choice of the right strategy a lot of expertise is needed</li>
            <li>Often high costs are incurred for the implementation of the delivery object</li>
            <li>The constant review in the different iterations and the development of prototypes and optimizations make the project more and more difficult to manage</li>
            <li>The time spent during the iterations for the risk analyses can take too much time for smaller projects and lead to the defined deadline not being met</li>
            <li>Risk analysis alone may result in a project not being successfully completed, possibly due to a poorly chosen strategy during analysis</li>
        </ul>
    </div>
</div>