<app-navbar></app-navbar>

<div class="title-wrapper">
    <p class="title">WATERFALL.</p>
</div>
<div class="content">
    <p>
        Text
    </p>
</div>
<div class="procon">
    <div class="pro">
        <div class="subsection">
            <p class="subtitle">Pros:</p>
        </div>
        <ul>
            <li> Vorteile.</li>
        </ul>
    </div>
    <div class="con">
        <div class="subsection">
            <p class="subtitle">Cons:</p>
        </div>
        <ul>
            <li>Nachteile. </li>
        </ul>
    </div>
</div>