<app-navbar></app-navbar>

<div class="title-wrapper">
    <p class="title">KANBAN.</p>
</div>
<div class="content">
    <p>
        The word Kanban comes from the Japanese and means sign or poster. It is a so-called pull system, which is based
        on the demand of the customer. Employees work on tasks as soon as they have the capacity to do so. The aim is to
        reduce the waste of resources while adding value at no extra cost. The origin of Kanban is in the automotive
        industry (especially Toyota), but Kanban can also be used in other industries. Kanban is an agile framework,
        which prescribes only a few rules and thus leaves the users a lot of freedom.
    </p>
</div>
<div class="procon">
    <div class="pro">
        <div class="subsection">
            <p class="subtitle">Pros:</p>
        </div>
        <ul>
            <li> Only minor changes to existing processes need to be made to implement Kanban. </li>
            <li> Kanban is easy to apply and leads to sustainable improvements. </li>
            <li> Kanban can be used by as little as one person. </li>
            <li> Kanban is a very flexible framework. </li>
            <li> Also a migration from a classical project management method to Kanban is easily possible. </li>
            <li> Kanban can be implemented with more people than Scrum (there is no fixed maximum number of people, but
                a maximum of 14 people is recommended). </li>
            <li> Kanban sets a focus on needed resources and tries to minimize them. </li>
            <li> Kanban complicates the overloading of employees by the WIP limit. </li>
        </ul>
    </div>
    <div class="con">
        <div class="subsection">
            <p class="subtitle">Cons:</p>
        </div>
        <ul>
            <li> Kanban boards quickly become confusing with a large number of work items or many employees (even if
                they can be scaled). </li>
            <li> Kanban is not well suited for long-term projects. </li>
            <li> Kanban only provides a framework, there are very few fixed rules.This can lead to some confusion. </li>
        </ul>
    </div>
</div>