<app-navbar></app-navbar>

<div class="title-wrapper">
    <p class="title">SCRUM.</p>
</div>
<div class="content">
    <p>
        Scrum is an agile framework for project management,
        which is designed to help teams solve complex problems by creating adaptive
        solutions.
        Scrum is designed to be as simple and easy to use as possible. It is deliberately incomplete
        to be able to adapt more easily to different organizational structures.
        to different organizational structures. It tries to define empirical processes that are based on the needs of
        the teams.
        needs of the teams.
        It is an iterative and incremental approach based on transparency, control and adaptation.
        based on transparency, control and adaptation.
        This means that the entire process should be designed in such a way that both the
        team members and the customer have an overview of the current status of the project at all times.
        status of the project at all times.
        Constant control should prevent unexpected events or problems from occurring that could affect the progress of
        the project.
        or problems occur that negatively influence the progress of the project.
        Control does not mean, however, that all participants are controlled in their work.
        but rather that the overall progress and the process as a whole is continuously evaluated.
        entire process is continuously evaluated (English wording for control:
        "inspection"). The aim is to achieve through constant adaptation
        that the team members and the customer have the possibility to adapt the process to the current
        to adapt the process to current needs at any time.
        Scrum is based on five defined values, which should form the basis for a
        successful cooperation: Commitment, Courage, Focus,
        Openness and Respect. The aim is to create an open working atmosphere in which the team members
        in which team members support each other and achieve common goals.
        achieve common goals.
        Scrum teams consist of about 10 people. This is to ensure good communication
        and cooperation are guaranteed. Within a Scrum team there are
        no sub-teams or hierarchies. The work of the teams is organized independently.
        organized.
        For larger projects and organizations, several Scrum teams can be formed.
        which have the same product owner and backlog.
    </p>
</div>
<div class="procon">
    <div class="pro">
        <div class="subsection">
            <p class="subtitle">Pros:</p>
        </div>
        <ul>
            <li> Quickly share information across the team.</li>
            <li> Consistent achievements by accomplishing even small tasks that immediately show the
                progress. </li>
            <li> High visibility of progress. </li>
            <li> The entire process leads to a better understanding of effective processes within businesses.
            </li>
            <li> Scrum ensures customer satisfaction by optimizing turnaround time and responsiveness based on their
                their requests are optimized. </li>
            <li> Scrum leads to a higher product quality than classical project management methods. </li>
            <li> The high flexibility leads to a better handling of unexpected problems or changes without losing
                control of the project,
                without losing control of the project. </li>
            <li> The high focus on communication simplifies the work for both the customer and the
                employees is simplified. </li>
            <li> Despite the high level of agility, Scrum is a continuous process. </li>
            <li> Estimates of the amount of work required can be made more easily. </li>
        </ul>
    </div>
    <div class="con">
        <div class="subsection">
            <p class="subtitle">Cons:</p>
        </div>
        <ul>
            <li> Members of the team suffer from great psychological pressure, as they have to present their work every
                day. </li>
            <li> If the processes are not implemented correctly, problems may arise within the team. </li>
            <li> In practice, a large amount of documentation is often lost compared to classic
                project management methods. </li>
            <li> Results are highly dependent on the dedication of team members. If team members
                do not cooperate, the project fails. </li>
            <li> Above a team size of 10 people, the implementation of Scrum becomes more difficult, as communication is
                no longer
                is no longer effective. </li>
            <li> Even if the process is split into several Scrum teams, it becomes much more difficult, as the effort
                required for communication increases significantly. </li>
            <li> In practice, Scrum is often more suitable for internal product development than for an external
                customer. </li>
            <li> If the customer has only a rough idea of the product, the development is also often planned too
                imprecisely. </li>
        </ul>
    </div>
</div>