<app-navbar></app-navbar>

<div class="title-wrapper">
    <p class="title">SCRUM.</p>
</div>
<div class="content">
    <p>
        Bei Scrum handelt es sich um ein agiles Framework für Projektmanagement,
        welches Teams dabei helfen soll komplexe Probleme zu lösen. indem es adaptive
        Lösungen schafft Ken2020.
        Scrum ist dabei möglichst einfach und leicht anwendbar. Es ist bewusst unvoll-
        ständig, um sich leichter an verschiedene Organisationsstrukturen anpassen zu
        können. Es versucht empirische Prozesse zu definieren, die sich an den Bedürf-
        nissen der Teams orientieren Ken2020.
        Es handelt sich dabei um einen iterativen und inkrementellen Ansatz, welcher auf
        der Grundlage von Transparenz, Kontrolle und Adaption basiert Ken2020.
        Das bedeutet, dass der gesamte Prozess so gestaltet sein soll, dass sowohl die
        Teammitglieder als auch der Kunde jederzeit einen Überblick über den aktuellen
        Stand des Projekts haben. Ken2020.
        Durch konstante Kontrolle soll dabei verhindert werden, dass unerwartete Events
        oder Probleme auftreten, die den Fortschritt des Projekts negativ beeinflussen.
        Kontrolle bedeutet hierbei jedoch nicht, dass alle Teilnehmer bei ihrer Arbeit
        kontrolliert werden, sondern vielmehr, dass der Gesamtfortschritt und der ins-
        gesamte Prozess fortlaufend bewertet wird (engischer Wortlaut für Kontrolle:
        ”Inspection”) Ken2020. Durch ständige Adaption soll dabei erreicht werden,
        dass die Teammitglieder und der Kunde die Möglichkeit haben, den Prozess
        jederzeit an die aktuellen Bedürfnisse anzupassen Ken2020.
        Dabei setzt Scrum auf fünf festgelegte Werte, welche die Grundlage für eine
        erfolgreiche Zusammenarbeit bilden sollen: Commitment, Courage, Focus,
        Openness und Respect. So soll eine offene Arbeitsatmosphäre geschaffen wer-
        den, in der sich die Teammitglieder gegenseitig unterstützen und die gemeinsa-
        men Ziele erreichen Ken2020.
        Scrum-Teams bestehen aus ungefähr 10 Personen. So soll gute Kommunikation
        und Zusammenarbeit gewährleistet werden. Innerhalb eines Scrum-Teams gibt es
        keine sub-Teams oder Hierarchien. Die Arbeit der Teams wird dabei selbstständig
        organisiert Ken2020.
        Für größere Projekte und Organisationen können mehrere Scrum-Teams gebildet
        werden, die den gleichen Product Owner und Backlog besitzen.
    </p>
</div>
<div class="procon">
    <div class="pro">
        <div class="subsection">
            <p class="subtitle">Pros:</p>
        </div>
        <ul>
            <li> Schnelles Teilen von Informationen innerhalb des gesamten Teams.</li>
            <li> Konstante Errungenschaften durch das Erfüllen von bereits kleinen Aufgaben, die sofortig den
                Fortschritts aufzeigen. </li>
            <li> Hohe Sichtbarkeit des Fortschritts. </li>
            <li> Der gesamte Ablauf führt zu einem besseren Verständnis für effektive Prozesse innerhalb Businesses.
            </li>
            <li> Scrum sorgt für Kundenzufriedenheit, indem die Durchlaufzeit und die Reaktionsfähigkeit basierend auf
                ihren Anfragen optimiert werden. </li>
            <li> Scrum führt zu eineren höheren Produkqualität, als bei klassischen Projektmanagementmethoden. </li>
            <li> Die hohe Flexibilität führt zu einen besseren Umgang mit unerwarteten Problemen oder Änderungen, ohne,
                dass dabei die Kontrolle über das Projekt verloren geht. </li>
            <li> Durch den hohen Fokus auf Kommunikation wird die Arbeit sowohl für den Kunden als auch für die
                Mitarbeiter vereinfacht. </li>
            <li> Trotz der hohen Agilität bitet Scrum ein kontinuierlichen Prozess. </li>
            <li> Einschätzungen zum benötigten Arbeitsaufwand können leichter getroffen werden. </li>
        </ul>
    </div>
    <div class="con">
        <div class="subsection">
            <p class="subtitle">Cons:</p>
        </div>
        <ul>
            <li> Mitglieder des Teams leiden unter großem psychischen Druck, da sie täglich ihre Arbeit vorstellen
                müssen. </li>
            <li> Bei nicht korrekter Umsetzung der Prozesse kann es zu Problemen innerhalb des Teams kommen. </li>
            <li> In der Praxis geht häufig ein Großteil an Dokumentation verloren im Vergleich zu klassischen
                Projektmanagementmethoden. </li>
            <li> Die Ergebnisse sind stark von der Hingabe der Mitglieder des Teams abhängig. Kooperieren Teammitglieder
                nicht scheitert das Projekt. </li>
            <li> Ab einer Teamgröße von 10 Personen wird die Umsetzung von Scrum schwieriger, da die Kommunikation nicht
                mehr effektiv ist. </li>
            <li> Auch bei einer Aufteilung in mehrere Scrum-Teams wird der Prozess deutlich erschwert, da der benötigte
                Aufwand für die Kommunikation deutlich steigt. </li>
            <li> Häufig bietet sich Scrum in der Praxis mehr für eine interne Produktentwicklung an als für einen
                externen Kunden. </li>
            <li> Hat der Kunde selbst bloß eine grobe Vorstellung vom Produkt, wird auch die Entwicklung häufig zu
                ungenau geplant. </li>
        </ul>
    </div>
</div>